<script src="http://localhost:8080/application.js" type="text/javascript" charset="utf-8"></script>
<div class="container">
  <div class="prepend-4 prepend-top span-15 last">

    <div class="span-15 last" id="cabecera">
      <div class="prepend-3 span-2" id="usuario">
        <strong><%= current_usuario.amigo.nombre if current_usuario %></strong><br/>
        <em>En línea</em>
      </div>

      <div class="span-1" id="add_contact">
        <%= image_tag 'chat/adcontactos.png' %>
      </div>

      <div class="span-1" id="mail">
        <%= image_tag 'chat/sobre.png' %>
      </div>

      <div class="span-8 last" id="menu">
	<ul id="menu-horizontal" class="curved">
	   <li class="curved">Archivo
		<ul>
		     <li>Cerrar Sesion</li>
		     <li>Estado
			<ul>
			   <li>Disponible</li>
			   <li>Ausente</li>
			   <li>Desconectado</li>
			</ul>
		     </li>
		     <li>Ver Historial</li>
		</ul>
	   </li>
	   <li class="curved">Contactos
		<ul>
		     <li>Agregar Contacto</li>
		     <li>Eliminar Contacto</li>
		</ul>	   
           </li>
	   <li class="curved">Acciones
		<ul>
		     <li>Enviar E-mail</li>
		     <li>Enviar Avatar</li>
		</ul>
	    </li>
	   <li class="curved">Herramientas
		<ul>
		     <li>Cambiar Apariencia</li>
		     <li>Avatares...
			<div class="galeria_avatares">
			  <div id="i_avatar1" class="skin">
			      <a class="skins" href=" " title="Avatar1"> </a> 
			  </div>
			  <div id="i_avatar2" class="skin">
			      <a class="skins" href=" " title="Avatar2"> </a> 
			  </div>
                          <div id="i_avatar3" class="skin">
			      <a class="skins" href=" " title="Avatar3"> </a> 
			  </div>
                          <div id="i_avatar4" class="skin">
			      <a class="skins" href=" " title="Avatar4"> </a> 
			  </div>
                          <div id="i_avatar5" class="skin">
			      <a class="skins" href=" " title="Avatar5"> </a> 
			  </div>
                          <div id="i_avatar6" class="skin">
			      <a class="skins" href=" " title="Avatar6"> </a> 
			  </div>
                          <div id="i_avatar7" class="skin">
			      <a class="skins" href=" " title="Avatar7"> </a> 
			  </div>
                          <div id="i_avatar8" class="skin">
			      <a class="skins" href=" " title="Avatar8"> </a> 
			  </div>
                          <div id="i_avatar9" class="skin">
			      <a class="skins" href=" " title="Avatar9"> </a> 
			  </div>
			  <div>
			      <input name="accept_skin" type="button" value="Aceptar" />
			      <input name="cancel_skin" type="button" value="Cancelar" />
			      <input name="ap_skin" type="button" value="Aplicar" />
			  </div>
			</div>
		     </li>
		</ul>
           </li>
	</ul>
      </div>
	
    </div>

    <div class="span-15 last" id="barra"></div>
    <div class="span-15 last" id="principal">
      <div class="span-14 prepend-1 last prepend-top">
        <div class="span-5">
          <div class='span-5 last' id="player">
            <div id="emoticon">
              <%= image_tag 'chat/emoticon.png' %>
            </div>
          </div>
          <div class="prepend-top span-5 last" id="contactos">
            <div class="push-1 prepend-top span-3 last" id="lista-contactos">
              <strong>Contactos</strong>
              <center>
                <ul>
                  <% current_usuario.amigo.amistads.each do |amigo| %>
                    <li><%= amigo.amigo_destino.nombre %></li>
                  <% end %>
                </ul>
              </center>
            </div>
          </div>
        </div>
        <div class="span-8 last">
          <div class="push-1 span-7 last" id="chat"></div>
          <div class="push-1 span-7 last" id="mensaje">
            <script type="text/javascript" charset="utf-8">
              var jug = new Juggernaut();

              $("#chat").append($("<li/>").append("Entrando al salón de charla"));
              jug.subscribe("/chats/canal1_canal2", function(data){
                  var li = $("<li/>");
                  li.text(data.mensaje);
                  $("#chat").append(li);
                  $("#chat").attr({ scrollTop: $("#chat").attr("scrollHeight") });
                  $('#msg_body').val('');
                  }); 
            </script>
            <%= form_tag('/chat/send', :id => 'chat_window', :remote => true) do %>
              <%= text_field_tag 'msg_body', '', :class => 'texto' %>
		<div class="prepend-4 span-1 alinn">
	          <%= image_tag 'chat/fuente.png' %>
		</div>
		<div class="span-1 alinn">
	          <%= image_tag 'chat/avatares.png' %>
		</div>
		<div class="span-1 last">
              <%#= submit_tag 'E', :class => 'right' %>
		<button type="submit"></buttom>
		</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

