<script src="http://localhost:8080/application.js" type="text/javascript" charset="utf-8"></script>
<div class="container">
  <div class="prepend-4 prepend-top span-15 last">

    <div class="span-15 last" id="cabecera">
      <div class="span-3"><%= image_tag 'logo.png', :class => 'logo' %></div>
      <div class="span-2" id="usuario">
        <strong><%= current_usuario.amigo.nombre if current_usuario %></strong><br/>
        <em>En línea</em>
      </div>

      <div class="span-1" id="add_contact">
        <%= link_to image_tag('chat/adcontactos.png'), no_amigos_amistads_path, :class => 'modal', :remote => true %>
      </div>

      <div class="span-1" id="mail">
        <%= link_to image_tag('chat/sobre.png'), '/chat/email', :class => 'modal', :remote => true %>
      </div>

      <div class="span-8 last" id="menu">
	<ul id="menu-horizontal" class="curved">
	   <li class="curved">Archivo
		<ul>
                  <li><%= link_to 'Cerrar sesión', destroy_usuario_session_path, :method => :delete, :id => 'salir' %></li>
                  <!--
		     <li>Estado
			<ul>
			   <li>Disponible</li>
			   <li>Ausente</li>
			   <li>Desconectado</li>
			</ul>
                        </li>
                        -->
                     <li><%= link_to 'Ver Historial', '#', :id => 'historial' %></li>
		</ul>
	   </li>
	   <li class="curved">Contactos
              <ul>
                <li><%= link_to 'Agregar Contacto', no_amigos_amistads_path, :class => 'modal', :remote => true %></li>
                <li><%= link_to 'Eliminar Contacto', si_amigos_amistads_path, :class => 'modal', :remote => true %></li>
              </ul>	   
           </li>
	   <li class="curved">Acciones
		<ul>
                  <li><%= link_to 'Enviar E-mail', '/chat/email', :class => 'modal', :remote => true %></li>
                  <li><%= link_to 'Enviar Avatar', '/chat/avatar', :class => 'modal', :remote => true %></li>
		</ul>
	    </li>
	   <li id="herramientas" class="curved">Herramientas
		<ul>
		     <li>Cambiar Apariencia
 			<div class="galery">
			  <% Skin.all.each do |skin| %>
			    <div class="boxgalery">
                              <% if current_usuario.amigo.skin == skin %>
                                <% clase = 'skin activo' %>
                              <% else %>
                                <% clase = 'skin' %>
                              <% end %>
 			      <%= link_to image_tag(skin.thumb.url), get_skin_path(skin), :class => clase %>
			    </div>
			  <% end %>
			</div>
		     </li>
		     <li>Avatares
 			<div class="galery_avatar">
			  <% current_usuario.amigo.avatars.all.each do |avatar| %>
			    <div class="boxgalery_avatar">
                              <%= link_to image_tag(avatar.thumb.url), "#", :class => 'avatar', :value => avatar.nombre %>
			    </div>
			  <% end %>
			</div>
		</ul>
           </li>
	</ul>
      </div>
	
    </div>

    <div class="span-15 last" id="barra"></div>
    <div class="span-15 last" id="principal">
      <div class="span-14 prepend-1 last prepend-top">
        <div class="span-5">
          <div class='span-5 last' id="player">
            <div id="emoticon" style="z-index: -1;">
              <%= image_tag 'chat/emoticon.png' %>
            </div>
          </div>
          <div class="prepend-top span-5 last" id="contactos">
            <div class="push-1 prepend-top span-3 last" id="lista-contactos">
              <strong>Contactos</strong>
                <ul>
                  <% current_usuario.amigo.amistads.each do |amigo| %>
                    <li><%= amigo.amigo_destino.nombre %></li>
                  <% end %>
                </ul>
            </div>
          </div>
        </div>
        <div class="span-8 last">
          <div class="push-1 span-7 last" id="chat"></div>
          <div class="push-1 span-7 last" id="mensaje">
            <script type="text/javascript" charset="utf-8">
              $f('emoticon', '/flowplayer.swf', {
                clip: {
                  onFinish: function(){ this.getPlugin("play").hide(); }
                },
                plugins: {
                    controls: null
                }
              });
              var jug = new Juggernaut();

              $("#chat").append($("<li/>").append("Entrando al salón de charla"));
              jug.subscribe("/chats/canal1", function(data){
                  if (data.hasOwnProperty('avatar') && data.usuario != '<%= current_usuario.email %>'){
                  $f().play(data.avatar);
                }
                var li = $("<li/>");
                li.text(data.mensaje);
                $("#chat").append(li);
                $("#chat").attr({ scrollTop: $("#chat").attr("scrollHeight") });
                if (data.usuario == '<%= current_usuario.email %>'){
                  $('#msg_body').val('');
                }
              }); 
            </script>
            <%= form_tag('/chat/send', :id => 'chat_window', :remote => true) do %>
              <%= text_field_tag 'msg_body', '', :class => 'texto' %>
		<div class="prepend-4 span-1 alinn">
		</div>
		<div class="span-1 alinn">
                  <%= link_to image_tag('chat/avatares.png'), '#', :id => 'link_avatares' %>
 			<div id="avatars" class="galery_avatar">
			  <% current_usuario.amigo.avatars.all.each do |avatar| %>
			    <div class="boxgalery_avatar">
                              <%= link_to image_tag(avatar.thumb.url), "#", :class => 'avatar', :value => avatar.nombre %>
			    </div>
			  <% end %>
			</div>		</div>
		<div class="span-1 last">
              <%#= submit_tag 'E', :class => 'right' %>
		<button type="submit"></button>
		</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal"></div>
<div id="historial"><%= render 'historials/listar' %></div>
