<!DOCTYPE html>
<html>
  <head>
    <title>MEMO - Mensajero Emocional</title>
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen, projection' %>
    <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
    <!--[if lt IE 8]>
    <%= stylesheet_link_tag 'blueprint/ie', :media => 'screen, projection' %>
    <![endif]-->
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <!--
      <% if usuario_signed_in? %>
        <div class="right">
          Logueado como <%= current_usuario.email %>. ¿No eres tú? <%= link_to 'Cerrar sesión', destroy_usuario_session_path, :method => :delete %>
        </div>
      <% end %>
      -->

      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>

      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
